/* styling */
      body{
        margin: 0;
        padding: 0;
        background-color: white;
      }

      img{
      	max-width: 100%;
        height: auto;
      }

      .title {
      	margin: auto;
      	width: 60%;
      	font-size: 3.5em;
      	color: purple;
      }
      
      /* content styling */
      .content{
        margin: auto; /* centers content */
        width: 60%;   /* sets width of content */
      }

      h1.content{
        font-size: 1.5em;
      }
      
      h2.content{
        font-size: 1.5em;
      }

      p.content{
        margin-bottom: 2vh;
        font-size: 1.5em;
      }

      /* Special content styling */ 
      h2.contentS {
        font-size: 1.5em;      
      }

      p.contentS {
        margin-bottom: 2vh;  
        font-size: 1.5em;   
      }

      /*styling for pros and cons nested list */
      ul.content{
        list-style-type: none;
        font-size: 2em;
      
      }

      #pro li{ 
        list-style-type: none; 
      } 
      
      /* Adds green checkmark to pros list*/
      #pro li:before {
        content: "\2714  ";
        color: green;   
      }

      #con li{
        list-style-type: none; 
      }

      /* Adds red x to cons list  */
      #con li:before { 
        content: "\2718  "; 
        color: red;             
      }


/* Margin div used for spacing content, add a empty div at the start of HTML file with id m */
      #m {
        height: 3vh;
        width: 100%;
        background-color: white;
      }
      
/* Styling for mobile content */
       @media only screen and (max-width: 1000px){
         body{
         margin: 0;
         padding: 0;
         background-color: white;
         }
       
        .content{
          margin: auto;
          width: 90%;
        }

        .title {
          margin: auto;
          width: 90%;
          color: blue;
          font-size: 9vmin;
        }
        
        h1.content {
          font-size: 10vmin;
        }

        h2.content {
          font-size: 5vmin;
        }
        
        p.content {
          font-size: 4vmin;
        }

        ul.content{
        font-size: 5vmin;
        }

        /* Special content mobile styling */ 
        h2.contentS {
          font-size: 5vmin;      
        }
  
        p.contentS {
          font-size: 4vmin;   
        }


             
       }

